@{
    Layout = "_LayoutAdmin";
}


<style>
    .errorBorder {
        border: 2px solid red;
    }

    .defaultBorder {
        border: 1px solid #ced4da;
    }
</style>

<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary" style="margin:10px;padding:10px;background-color:azure">
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

                1914 translation by H. Rackham
                "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        <div class="col-md-8">
            <div class="card card-primary" style="margin:10px">
                <div class="card-header">
                    <h3 class="card-title">Kurumsal Araç Kiralama Fromu</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label>Kurum Adı</label>
                                <input id="txtCorporateName" type="text" class="form-control notEmpty" placeholder="Lütfen Kurum Adını Yazınız..." errorATTR="Kurum Adı Alanı Boş Olamaz...">
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Vergi Numarası</label>
                                    <input id="txtTaxNumber" type="number" class="form-control notEmpty" placeholder="Vergi Numarasını Yazınız..." errorATTR="Vergi Numarası Alanı Boş Olamaz...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Araç Sayısı</label>
                                    <input id="txtCarNumber" type="number" class="form-control notEmpty" placeholder="Araç Sayısını Yazınız..." errorATTR="Araç Sayısı Alanı Boş Olamaz...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>İl</label>
                                    <input id="txtCity" type="text" class="form-control notEmpty" placeholder="İli Yazınız..." errorATTR="İl Adı Alanı Boş Olamaz...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>İlçe</label>
                                    <input id="txtCounty" type="text" class="form-control notEmpty" placeholder="İlçeyi Yazınız..." errorATTR="İlçe Adı Alanı Boş Olamaz...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Adınız</label>
                                    <input id="txtName" type="text" class="form-control notEmpty" placeholder="Adınızı Yazınız..." errorATTR="İsim Alanı Boş Olamaz...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Soyadınız</label>
                                    <input id="txtSurname" type="text" class="form-control notEmpty" placeholder="Soyadınızı Yazınız..." errorATTR="Soyisim Alanı Boş Olamaz...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Telefon</label>
                                    <input id="txtTelephoneNumber" type="number" maxlength="10" class="form-control notEmpty" @*name="Phone" required=""*@ placeholder="5XX" @*aria-required="true"*@ errorATTR="Telefon Numarası Alanı Boş Olamaz...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <input id="txtEmail" type="email" class="form-control notEmpty" placeholder="E-Mail Adresinizi Yazınız..." errorATTR="E-Mail Alanı Boş Olamaz...">
                                </div>
                            </div>
                            <div class="col">
                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Mesajınız</label>
                                    <textarea class="form-control" rows="3" placeholder="Bir Mesaj Yazınız..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card-footer">
                                    <button id="btnSend" type="submit" class="btn btn-success float-right">Gönder</button>
                                </div>
                            </div>
                        </div>
                        <div id="errorMessage" style="margin:10px"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Areas/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/Areas/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/Areas/dist/js/adminlte.min.js"></script>

<script>
    $(document).ready(function () {
        $("#btnSend").click(function () {
            var inputs = $(".notEmpty");
            var errorMesages = "<ul>";
            for (var i = 0; i < inputs.length; i++) {
                var input = inputs[i];
                var isFailed = false;

                if ($(input).val() == "") {
                    $(input).addClass("errorBorder");
                    isFailed = true;
                    errorMesages += "<li>" + $(input).attr("errorATTR") + "</li>";
                }
            }

            if (isFailed) {
                errorMesages += "</ul>";
                $("#errorMessage").addClass("alert alert-warning");
                $("#errorMessage").html(errorMesages);
            }
            console.log(errorMesages);


            if (isFailed == false) {
                var corporateData = {
                    CorporateName: $("#txtCorporateName").val(),
                    TaxNumber: $("#txtTaxNumber").val(),
                    CarNumber: $("#txtCarNumber").val(),
                    City: $("#txtCity").val(),
                    County: $("#txtCounty").val(),
                    Name: $("#txtName").val(),
                    Surname: $("#txtSurname").val(),
                    TelephoneNumber: $("#txtTelephoneNumber").val(),
                    Email: $("#txtEmail").val()
                }

                $.ajax({
                    url: "/Admin/CorporateRent/Index",
                    method: "post",
                    dataType: "json",
                    data: { cddto: corporateData },
                    success: function (response) {
                        if (response.isSuccess) {
                            Swal.fire({
                                icon: 'success',
                                title: 'İşlem Başarılı',
                                text: response.message
                            })
                        }
                    }
                });
            }



        });

        $(".notEmpty").keydown(function () {
            $(this).removeClass("errorBorder");
            $(this).addClass("defaultBorder");
        });
    });
</script>
